@font-face {
	font-family:'mallory-light';
	src:url("https://cdn6.agoda.net/images/fonts/mallory-light-webfont-v01.woff2");
}
@font-face {
	font-family:'mallory-book';
	src:url("https://cdn6.agoda.net/images/fonts/Mallory-Book.woff2");
}
@font-face {
	font-family:'mallory-medium';
	src:url("https://cdn6.agoda.net/images/fonts/mallory-medium.woff2");
}