<!--<h1>
    {{title}}
</h1>-->

<div class="container main-container">
    <div class="row vertical-offset-100">
        <div class="col-md-5" style="background:#ffffff;box-shadow: 0px 5px 30px #bbbbbb">

            <div style="padding:45px 40px 45px 40px;">
                <div class="title-signin">Sign in</div>
                <form>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="pb-15 text-right">
                        <a href="#" class="forgot-password">Forgot password?</a>
                    </div>
                    <a href="#" class="btn btn-primary btn-block" style="padding: 10px 0;">SIGN IN</a>
                </form>
            </div>


        </div>
        <div class="col-md-7">
            <div class="singin-privacy">
                <h2 class="pb-24">We're commited to protecting your security.</h2>
                <h4>Protecting Your YCS Account</h4>
                <p class="mb-30">
                    Never share your username and password with others. If you have recieved an unexpected password reset email, please get in touch with your Agoda contact immediately.
                </p>

                <h4>Securing Access to YCS Website</h4>
                <p>
                    Irrespective of the browser YCS website should always be http://ycs.agoda.com
                </p>

                <p>
                    Depending on your browser thr security certificate (look sign) will be shown slightly differently, however always confirm its presence.
                </p>
            </div>
        </div>
    </div>
</div>
